@font-face {
    font-family: 'OfficinaSansITCStd Book';
    src: url('OfficinaSansITCStd-Book.woff2') format('woff2'),
        url('OfficinaSansITCStd-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'OfficinaSansITCStd Bold';
    src: url('OfficinaSansITCStd-Bold.woff2') format('woff2'),
        url('OfficinaSansITCStd-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}